In [2]:
import requests
import pandas as pd

url = 'https://www.ndbc.noaa.gov/data/realtime2/22101.drift'

r = requests.get(url)

with open('data.csv', 'wb') as f:
    f.write(r.content)

df = pd.read_csv('data.csv', header=1, parse_dates=True, delimiter = '\s+')

df.head()

,#yr,mo,dy,hrmn,deg,deg.1,degT,m/s,m/s.1,hPa,hPa.1,degC,degC.1,degC.2,m,sec
0,2022,11,4,2300,37.24,126.02,10,2.0,MM,MM,MM,10.4,15.5,MM,0.5,4
1,2022,11,4,2200,37.24,126.02,340,2.0,MM,MM,MM,10.0,15.5,MM,0.5,5
2,2022,11,4,2100,37.24,126.02,350,2.0,MM,MM,MM,9.9,15.4,MM,0.5,6
3,2022,11,4,2000,37.24,126.02,360,3.0,MM,MM,MM,9.8,15.5,MM,0.5,5
4,2022,11,4,1900,37.24,126.02,10,3.0,MM,MM,MM,9.6,15.4,MM,0.5,5