In [4]:
import requests
import pandas as pd

url = 'https://www.ndbc.noaa.gov/data/realtime2/21415.dart'

r = requests.get(url)

with open('data.csv', 'wb') as f:
    f.write(r.content)

df = pd.read_csv('data.csv', header=1, parse_dates=True, delimiter = '\s+')

df.head()

    #yr  mo  dy  hr  mn  s  -         m
0  2022  11   4  18   0  0  1  4769.257
1  2022  11   4  17  45  0  1  4769.246
2  2022  11   4  17  30  0  1  4769.241
3  2022  11   4  17  15  0  1  4769.235
4  2022  11   4  17   0  0  1  4769.235