In [1]:
import pandas as pd

import the buoy list
from data/buoy_list.csv

In [3]:
buoy_list = pd.read_csv('data/buoys.csv')
# extract the buoy names
buoy_names = buoy_list['buoy_name']
# we want to have a printing list of these names for fun

   'buoy_id'  Unnamed: 1
0      42001         NaN
1      46059         NaN
2      41044         NaN
3      46071         NaN
4      42002         NaN