In [18]:
import pandas as pd

import the buoy list
from data/buoy_list.csv

In [25]:
buoy_list = pd.read_csv('../data/buoys.csv')
# get the list of buoys
buoy_list.columns
# buoy_list = buoy_list['buoy_id'].tolist()
# buoy_list.head()
# drop Unnamed: 1 column
buoy_list = buoy_list.drop(columns=['Unnamed: 1'])
# get the list of buoys
# define the column names
buoy_list.columns = ['buoy_id']
# get the list of buoys
buoy_list = buoy_list['buoy_id'].tolist()
print(buoy_list[0:10])

[42001, 46059, 41044, 46071, 42002, 46072, 46066, 41046, 46088, 44066]

In [28]:
buoy_locs = pd.read_csv("../data/buoy_id_to_lat_lon.csv")
# add header to buoy_locs
buoy_locs.columns = ['buoy', 'coords']

# merge the two dataframes
# the coords is a list of two numbers, the lat and lon
# split the coords into two columns and add them to the buoy_locs dataframe
# buoy_locs[['lat', 'lon']] = pd.DataFrame(buoy_locs.coords.tolist(), index=buoy_locs.index)
# buoy_locs = buoy_locs.drop(columns=['coords'])
# get the numbers
# buoy_locs.head()
import re
buoy_locs.head()
# for every row use regex to split the coords into two columns and add them to the buoy_locs dataframe
for index, row in buoy_locs.iterrows():
    # print(row['coords'])
    lat = re.findall(r"[-+]?\d*\.\d+|\d+", row['coords'])[0]
    lon = re.findall(r"[-+]?\d*\.\d+|\d+", row['coords'])[1]
    buoy_locs.at[index, 'lat'] = lat
    buoy_locs.at[index, 'lon'] = lon
# drop the coords column
buoy_locs = buoy_locs.drop(columns=['coords'])
# get the numbers
buoy_locs.head()

    buoy     lat       lon
0  46072  51.666  -172.114
1  46088  48.332  -123.179
2  51000  23.528  -153.792
3  42020  26.968   -96.693
4  46028  35.770  -121.903

In [29]:
# load up the optimal buoy locations from optimal_shot_times.csv
optimal_buoy_locs = pd.read_csv("../data/optimal_shot_times.csv")
# add header to optimal_buoy_locs
optimal_buoy_locs.head()
# column Time is in UTC time

   Time  Buoy ID       Time.1
0  2310    42002  11:10:10 PM
1  2210    42059  10:10:10 PM
2  2210    44007  10:10:10 PM
3  2210    44007  10:10:10 PM
4  2210    44013  10:10:10 PM

In [31]:
# Create a list of phrases for the main page to display on the ticker
phrase_partone = 'Looking at Buoy {}'.format(buoy_list[index]) # where index is a random id from the list of buoys
phrase_parttwo = 'The optimal time to shoot is {}'.format(optimal_buoy_locs['Time'][index]) # where index is a random id from the list of buoys
phrase_partthree = 'The optimal time to shoot is {}'.format(optimal_buoy_locs['Time'][index]) # where index is a random id from the list of buoys
import random
phrases = [] # create an empty list
# populate the list with 100 random phrases
for i in range(100):
    index = random.randint(0, len(buoy_list)-1)
    phrase_partone = 'Looking at Buoy {}'.format(buoy_list[index]) # where index is a random id from the list of buoys
    phrase_parttwo = 'watch {} at {}'.format(index,optimal_buoy_locs['Time'][index]) # where index is a random id from the list of buoys
    phrase_partthree = 'sunset for {} is {}'.format(index,optimal_buoy_locs['Time'][index]) # where index is a random id from the list of buoys
    # randomly choose one of the three phrases to add to the list
    phrase = random.choice([phrase_partone, phrase_parttwo, phrase_partthree])
    # replace all spaces with "+" and end all the phrases with a';'
    phrase = phrase.replace(" ", "+") + ";"
    phrases.append(phrase)


# replace all spaces with "+" and end all the phrases with a';'
# save the phrases to a file 'ticker_phrases.txt'

master_phrase = ""
for phrase in phrases:
    master_phrase += phrase


# save master_phrase to a file 'ticker_phrases.txt'
with open('../data/ticker_phrases.txt', 'w') as f:
    f.write(master_phrase)